.banner__imagen{
    background: url("../../img/banner.jpg") no-repeat center / cover; /* es una buena practica poner las imagenes en el css, porque el html e*/
    height: calc(100vh - 72px);
    width: 100%;
}

@media  screen and (min-width: 0) {
    .banner__imagen{
        height: calc(100vh - 51px);
    }
}

@media  screen and (min-width: 768px) {
    .banner__imagen{
        height: calc(100vh - 72px);
    }
}